*{
    margin: 0;
    padding: 0;
    background: #eeeeee;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60;
}
.navbar a {
    display: block;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
}
.nav-item active {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}
.nav-item active:hover{
    background-color: #555555;
    color: #ffffff;
}
.container {
    background: scroll;
}
input[type=text],
input[type=email],
input[type=number]
 {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-left: 150px;
    border: none;
    border-radius: 35px;
    align-items: center; 
    border-color: orangered;
    background: #f1f1f1;
}